/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, .4);
}

/* APP MAIN */
.app-main{
    display: flex;
    height: calc(100vh - 80px);
}

/* SIDEBAR */
.app-main .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-basis: 250px;
    background-color: #000;
}
.sidebar .top-sidebar,
.sidebar .bottom-sidebar{
    background-color: brown;
}

.sidebar .bottom-sidebar{
    flex-basis: 60px
}















/* APP FOOTER */
.app-footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}
.app-footer > div{
    background-color: #999;
}
.app-footer .album,
.app-footer .settings{
    flex-basis: 250px;
}
.app-footer .player{
    flex-basis: 35%;
}

