/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, .4);
}
h2{
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
h2,
h4{
    color: #fff;
}
ul{
    list-style: none;
}
li:hover{
    color: #fff;
    cursor: pointer;
}
i{
    cursor: pointer;
}

/* UTILITIES */
/* Layout */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.ai-center{
    align-items: center;
}
.jc-between{
    justify-content: space-between;
}
.grow-1{
    flex-grow: 1;
}
/* Text */
.upper{
    text-transform: uppercase;
}
.txt-white{
    color: #fff;
}
.bold{
    font-weight: 600;
}
/* Overflow */
.ov-hidden{
    overflow-y: hidden;
}
.ov-auto{
    overflow-y: auto;
}
/* Hover */
.hover-white:hover{
    color: #fff;
    cursor: pointer;
}
.bigger:hover{
    transform: scale(1.1);
}
/* Stick */
.stick{
    position: relative;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 25px;
}
.stick::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20%;
    border: 2px solid #fff;
    border-radius: 25px;
}
.stick::after{
    content: '';
    position: absolute;
    top: -7px;
    left: 18%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
}
.stick:hover{
    cursor: pointer;
}
.stick:hover::before{
    border-color: #adff2f;
}
.stick:hover::after{
    opacity: 1;
}

/* APP MAIN */
.app-main{
    height: calc(100vh - 80px);
}

/* SIDEBAR */
.app-main .sidebar{
    flex-basis: 230px;
    flex-shrink: 0;
    font-size: 12px;
    background-color: #000;
}

/* Top Sidebar */
.sidebar .top-sidebar{
    padding: 20px 20px 0;
    min-height: 380px;
}
.sidebar .top-sidebar .logo{
    height: 40px;
    margin-bottom: 25px;
}
/* Side Menu */
.top-sidebar .side-menu{
    margin-bottom: 20px;
}
.top-sidebar .side-menu li{
    padding: 5px 0;
}
.top-sidebar .side-menu li:first-child{
    position: relative;
}
.top-sidebar .side-menu li:first-child::before{
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    border-left: 3px solid #adff2f;
}
.top-sidebar .side-menu img{
    height: 25px;
    vertical-align: middle;
}
.top-sidebar .side-menu li:not(:first-child) img{
    filter: brightness(.5);
}
.top-sidebar .side-menu li:hover img{
    filter: brightness(1);
}
/* Search Interaction */
.side-menu .search-group input{
    display: none;
    height: 25px;
}
.side-menu .search-group:active .search{
    display: none;
}
.side-menu .search-group:active input{
    display: inline-block;
}
/* Playlist */
.top-sidebar .create-playlist{
    margin-bottom: 10px;
}
.create-playlist .plus-create{
    width: 35px;
    height: 35px;
    margin: 10px 0;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    color: #000;
    background-color:  rgba(255, 255, 255, .4);
}
.top-sidebar .create-playlist:hover .plus-create{
    background-color:  #fff;

}
.create-playlist .text-create{
    padding-left: 10px;
    font-size: 14px;
}
.top-sidebar .playlist{
    height: calc(100% - 255px);
}
.top-sidebar .playlist li{
    margin-bottom: 20px;
}

/* Bottom Sidebar */
.sidebar .bottom-sidebar{
    height: 80px;
    padding: 5px 20px;
}
/* Download */
.bottom-sidebar .download{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);;
}
.bottom-sidebar .download img{
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
    filter: brightness(.5);
}
.bottom-sidebar .download:hover img{
    filter: brightness(1);
}
/* User */
.bottom-sidebar .user{
    padding: 5px 0;
    font-size: 14px;
}
.bottom-sidebar .user .profile{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #808080;
    border-radius: 50%;
}

/* MOBILE SIDEBAR */
.app-main .mobile-sidebar{
    display: none;
    padding: 5px 10px;
    background-color: #000;
}
.app-main .mobile-sidebar img:hover{
    filter: brightness(1);
    cursor: pointer;
}
/* Top */
.mobile-sidebar .top-mobile-sidebar img{
    height: 25px;
    margin-bottom: 10px;
}
.top-mobile-sidebar img:nth-child(3),
.top-mobile-sidebar img:nth-child(4){
    filter: brightness(.5);
}
/* Bottom */
.mobile-sidebar .bottom-mobile-sidebar{
    text-align: center;
}
.bottom-mobile-sidebar > img{
    width: 15px;
    margin-bottom: 15px;
    filter: brightness(.5);
}
.bottom-mobile-sidebar .profile{
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background-color: #808080;
    border-radius: 50%;
}
/* RESPONSIVE SIDEBAR */
/* Screen <= 600px */
@media screen and (max-width: 600px){
    .app-main .sidebar{
        display: none;
    }
.app-main .mobile-sidebar{
    display: flex;
    }
}

/* MAIN CONTENT */
.main-content{
    position: relative;
    background-color: #141922;
}

/* Fix-bar */
.main-content .fix-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
}
.fix-bar button{
    margin-right: 25px;
    padding: 15px 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
}
.fix-bar button:active{
    transform: scale(1);
}
.fix-bar button:focus{
    outline: none;
    box-shadow: 0 0 5px 2px inset #adff2f;
}
/* RESPONSIVE FIXBAR */
/* Screen height <= 300px */
@media screen and (max-height: 300px){
    .main-content .fix-bar{
        display: none;
    }
}

/* Gallery */
.main-content .gallery{
    padding: 100px 20px 0;
    height: 100%;
}
/* Gallery Menu */
.gallery .gallery-menu{
    margin-bottom: 30px;
    text-align: center;
}
.gallery .gallery-menu li{
    display: inline-block;
    padding: 20px 0;
    margin-right: 30px;
}
.gallery .gallery-menu li:last-child{
    margin-right: 0;
}
.gallery .gallery-menu li{
    position: relative;
}
.gallery .gallery-menu label,
.gallery .gallery-menu input{
    cursor: pointer;
}
.gallery .gallery-menu label::after{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    width: 30px;
    border-bottom: 2px solid #adff2f;
    opacity: 0;
}
/* Gallery Menu Interaction */
.gallery .gallery-menu input:checked + label::after{
    opacity: 1;
}
.gallery .gallery-menu input{
    position: absolute;
    opacity: 0;
}

/* Albums */
.gallery .row-albums{
    flex-wrap: wrap;
    margin: 40px 0;
}
.row-albums .album{
    padding-right: 15px;
    width: calc(100% / 6);
    text-align: center;
    cursor: pointer;
}
.row-albums .album img{
    width: 100%;
    display: block;
}
.row-albums .album h4{
    margin-top: 1rem;
}
.row-albums .album h4,
.row-albums .album h5{
    margin-bottom: .5rem;
}
.gallery .row-albums:last-child img{
    border-radius: 50%;
}
/* Layover */
.album .cover{
    position: relative;
}
.album .cover::after{
    display: none;
    content: "\f144";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 85px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}
.album .cover:hover img{
    filter: brightness(.4);
}
.album .cover:hover::after{
    display: inline-block;
}
.album .cover:active::after{
    color: #adff2f;
    transform: translate(-50%, -50%)
                rotate(720deg)
                scale(1.3);
    transition: transform .6s ease-out, color .1s .5s;
}
/* RESPONSIVE MAIN CONTENT*/
/* 768px <= Screen < 1200px */
@media screen and (max-width: 1199px){
    .row-albums .album{
        width: 25%;
    }
}
/* Screen < 768px */
@media screen and (max-width: 767px){
    .row-albums .album{
        width: 50%;
    }
}

/* APP FOOTER */
.app-footer{
    height: 80px;
    background-color: #282828;
}
.app-footer .left-footer,
.app-footer .right-footer{
    flex-basis: 230px;
}
.app-footer .central-footer{
    flex-basis: 35%;
}
.app-footer .left-footer,
.app-footer .central-footer,
.app-footer .right-footer{
    padding: 0 10px;
}

/* Left Footer */
.left-footer .current img{
    height: 40px;
    margin-right: 10px;
}
.left-footer .current h6:hover{
    text-decoration: underline;
}
.left-footer .left-footer-icons i:first-child{
    margin-right: 10px;
}

/* Central Footer */
/* Player Icons */
.central-footer .player-icons{
    padding: 10px;
}
.central-footer .player-icons i{
    margin-right: 20px;
}
.central-footer .player-icons i:last-child:not(label > i){
    margin-right: 0;
}
.central-footer .player-icons #play{
    padding: 0 8px;
    font-size: 1.7rem;
}
/* Player Bar */
.central-footer .player-bar{
    width: 100%;
}
.central-footer .player-bar span{
    font-size: 0.6rem;
}
.central-footer .player-bar .stick{
    margin: 0 5%;
}
/* Player Bar Animation */
.central-footer .player-bar input{
    position: absolute;
    opacity: 0;
}
.central-footer .player-bar .stick::before{
    animation: move 20s linear forwards;
}
.central-footer .player-bar .stick::after{
    animation: follow 20s linear forwards;
}
.central-footer .player-bar input:checked + .stick::before,
.central-footer .player-bar input:checked + .stick::after{
    animation-play-state: paused;
}
@keyframes move{
    from{
        width: 20%;
    }
    to{
        width: 100%;
    }
}
@keyframes follow{
    from{
        left: 18%;
    }
    to{
        left: 98%;
    }
}

/* Right Footer */
.app-footer .right-footer i{
    margin-right: 15px;
}