/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, .4);
}
h2{
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
ul{
    list-style: none;
}

/* UTILITIES */
/* Text */
.upper{
    text-transform: uppercase;
}
.txt-white{
    color: #fff;
}
.bold{
    font-weight: 600;

}
/* Stick */
.stick{
    position: relative;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 25px;
}
.stick::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20%;
    border: 2px solid #fff;
    border-radius: 25px;
}

/* APP MAIN */
.app-main{
    display: flex;
    height: calc(100vh - 80px);
}

/* SIDEBAR */
.app-main .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 250px;
    flex-shrink: 0;
    background-color: #000;
}
.sidebar .top-sidebar,
.sidebar .bottom-sidebar{
    background-color: brown;
}
.sidebar .top-sidebar{
    overflow: hidden;
}
.sidebar .bottom-sidebar{
    height: 60px;
    flex-wrap: wrap;
}

/* MAIN CONTENT */
.main-content{
    position: relative;
    flex-grow: 1;
    background-color: #141922;
}

/* Fix-bar */
.main-content .fix-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
}
.fix-bar button{
    margin-right: 10px;
    padding: 15px 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
}

/* Gallery */
.main-content .gallery{
    padding: 100px 20px 20px;
    height: 100%;
    overflow: auto;
}
/* Gallery Menu */
.gallery .gallery-menu{
    margin-bottom: 30px;
    text-align: center;
}
.gallery .gallery-menu li{
    display: inline-block;
    padding: 20px 0;
    margin-right: 30px;
}
.gallery .gallery-menu li:last-child{
    margin-right: 0;
}
.gallery .gallery-menu li:first-child{
    position: relative;
}
.gallery .gallery-menu li:first-child::after{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    width: 33%;
    border-bottom: 2px solid #adff2f;
}

/* Albums */
.gallery .row-albums{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}
.row-albums .album{
    padding-right: 15px;
    width: calc(100% / 6);
    text-align: center;
}
.row-albums .album img{
    width: 100%;
    margin-bottom: 1rem;
}
.row-albums .album h4,
.row-albums .album h5{
    margin-bottom: .5rem;
}
.gallery .row-albums:last-child img{
    border-radius: 50%;
}
/* RESPONSIVE */
/* 768px <= Screen < 1200px */
@media screen and (max-width: 1199px){
    .row-albums .album{
        width: 25%;
    }
}
/* Screen < 768px */
@media screen and (max-width: 767px){
    .row-albums .album{
        width: 50%;
    }
}

/* APP FOOTER */
.app-footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}
.app-footer > div{
    /* background-color: #999; */
}
.app-footer .left-footer,
.app-footer .right-footer{
    flex-basis: 250px;
}
.app-footer .center-footer{
    flex-basis: 35%;
}

/* Left Footer */
.app-footer .left-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.left-footer .current{
    display: flex;
    align-items: center;
}
.left-footer .current img{
    height: 40px;
    margin-right: 10px;
}
.left-footer .left-footer-icons i:first-child{
    margin-right: 10px;
}

/* Right Footer */
.app-footer .right-footer{
    display: flex;
    align-items: center;
    padding: 10px;
}
.app-footer .right-footer i{
    margin-right: 15px;
}
.app-footer .right-footer .stick{
    flex-grow: 1;
}